p1{font-family: "Lucida Console", Courier, monospace; color: blue;}
p2{font-family: "Lucida Console", Courier, monospace; color: blue;}
h1{font-family: "Lucida Console", Courier, monospace; color: blue;}
