p1{font-family: "Lucida Console", Courier, monospace; color: white;}
p2{font-family: "Lucida Console", Courier, monospace; color: white;}
h1{font-family: "Lucida Consol", Courier, monospace; color: blue;}
